@font-face {
  font-family: "s1";
  src: url("fontsversus.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "s1", "Bebas Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #0e1f32;
  color: white;
}

nav {
  width: 100%;
  height: 20%;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
nav h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #f1f5f8;
  font-size: 70px;
  transform: translate(-20px, 30px);
  font-weight: 500px;
}
nav button {
  box-sizing: border-box;
  transform: translate(0px, 20px);
  background: #f1f5f8;
  color: #5d7180;
  border: none;
  padding-top: 2px;
  padding-bottom: 2;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  clip-path: xywh(0 5px 100% 75% 15% 0);
}
nav div {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 200px;
  justify-content: flex-start;
  align-items: center;
}
nav div p {
  font-family: "Bebas Neue", sans-serif;
  color: #f1f5f8;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 100;
  transform: translate(0, 20px);
}

main {
  padding: 40px;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .top {
  position: relative;
}
main .top div {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(50px, -190px);
}
main .top div h1 {
  color: white;
  transform: translate(250px, -110px);
  scale: 1.2;
}
main .top div .img img {
  width: 20px;
  height: 20px;
}
main .top div .img {
  display: flex;
  flex-direction: row;
}
main .top img {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .one img {
  width: 250px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  color: #f1f5f8;
}
main .one .text {
  margin-top: 5px;
  font-weight: 100;
}
main .one .text .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
main .one .text .colors div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
main .one .text .colors .c1 {
  background-color: white;
}
main .one .text .colors .c2 {
  background-color: #bcdbf0;
}
main .one .price {
  margin-top: 10px;
}
main .two img {
  width: 250px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  color: #f1f5f8;
}
main .two .text {
  margin-top: 5px;
  font-weight: 100;
}
main .two .text .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
main .two .text .colors div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
main .two .text .colors .c1 {
  background-color: white;
}
main .two .text .colors .c2 {
  background-color: #bcdbf0;
}
main .two .price {
  margin-top: 10px;
}
main .three img {
  width: 250px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  color: #f1f5f8;
}
main .three .text {
  margin-top: 5px;
  font-weight: 100;
}
main .three .text .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
main .three .text .colors div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
main .three .text .colors .c1 {
  background-color: rgb(0, 0, 0);
}
main .three .text .colors .c2 {
  background-color: #fefefe;
}
main .three .price {
  margin-top: 10px;
}
main .lowbar {
  margin-top: 50px;
  gap: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .lowbar .four img {
  width: 250px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  color: #f1f5f8;
}
main .lowbar .four .text {
  margin-top: 5px;
  font-weight: 100;
}
main .lowbar .four .text .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
main .lowbar .four .text .colors div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
main .lowbar .four .text .colors .c1 {
  background-color: #C1CFDC;
}
main .lowbar .four .text .colors .c2 {
  background-color: #bcdbf0;
}
main .lowbar .four .price {
  margin-top: 10px;
}
main .lowbar .five img {
  width: 250px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  color: #f1f5f8;
}
main .lowbar .five .text {
  margin-top: 5px;
  font-weight: 100;
}
main .lowbar .five .text .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
main .lowbar .five .text .colors div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
main .lowbar .five .text .colors .c1 {
  background-color: #9CB4C4;
}
main .lowbar .five .text .colors .c2 {
  background-color: #bcdbf0;
}
main .lowbar .five .price {
  margin-top: 10px;
}
main .lowbar .six img {
  width: 250px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  color: #f1f5f8;
}
main .lowbar .six .text {
  margin-top: 5px;
  font-weight: 100;
}
main .lowbar .six .text .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
main .lowbar .six .text .colors div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
main .lowbar .six .text .colors .c1 {
  background-color: #213F5C;
}
main .lowbar .six .text .colors .c2 {
  background-color: #000000;
}
main .lowbar .six .price {
  margin-top: 10px;
}
main .lowbar .seven img {
  width: 250px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  color: #f1f5f8;
}
main .lowbar .seven .text {
  margin-top: 5px;
  font-weight: 100;
}
main .lowbar .seven .text .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
main .lowbar .seven .text .colors div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  gap: 2px;
}
main .lowbar .seven .text .colors .c1 {
  background-color: #213F5C;
}
main .lowbar .seven .text .colors .c2 {
  background-color: #213F5C;
}
main .lowbar .seven .price {
  margin-top: 10px;
}
main .lowbar .eight img {
  width: 250px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  color: #f1f5f8;
}
main .lowbar .eight .text {
  margin-top: 5px;
  font-weight: 100;
}
main .lowbar .eight .text .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
main .lowbar .eight .text .colors div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
main .lowbar .eight .text .colors .c1 {
  background-color: white;
}
main .lowbar .eight .text .colors .c2 {
  background-color: #bcdbf0;
}
main .lowbar .eight .price {
  margin-top: 10px;
}

img {
  clip-path: polygon(8% 0, 100% 0, 100% 92%, 92% 100%, 0 100%, 0 8%);
}

button {
  clip-path: polygon(10% 0%, 90% 0%, 100% 25%, 100% 75%, 90% 100%, 10% 100%, 0% 75%, 0% 25%);
}/*# sourceMappingURL=style.css.map */