@font-face {
    font-family: "Neue";
    src: url("Satoshi-Regular.otf");
}
*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    font-family: "Neue", sans-serif;
    width: 100%;
    height: 100%;
    color:#580005;
    background-color: #F0F0F0;
}

nav{
    width: 100%;
    height: 12%;
    padding: 10px;
    margin-right: 10px;
    font-size: 1.25rem;
    .topbar{
        
                        img{
            width:80px;
            height:50px;
            transform: translate(0px,10px);
                        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            margin-left: -30px;
        }

    }
    .midbar{
        height:10%;
        display: flex;
        justify-content: center;
        align-items: center;
                img{
            width:80px;
            height:50px;
            scale:1;
            transform: translate(0px,5px);
            object-fit: cover;
        }
    }

}

main{
    width: 100%;
    height: 60%;
    display: flex;

    .ourwork{

        padding:20px;
        height: 110%;
        width:46.5%;
        display: flex;
        align-items: flex-end;
        a{
            color:#580005;
            font-weight: 400;
            font-size: 1.25rem;
        }
    }
    .body{
        margin-top: 0px;
        height:100%;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        
        .images{
            height: 100%;
            width: 100%;
            gap:20px;
            display: flex;
            align-items: flex-end;
            img{
            width:200px;
            height:250px;
            object-fit: cover;
            border-radius: 20px;
            }
        }
    }
}
 pre{
    padding-top: 20px;
    font-family: "Neue", sans-serif;
    font-size: 10px;
    padding-bottom: 20px;
 }

 .link{
    font-size: 1.25rem;
    font-family: "Neue", sans-serif;

 }
    .subbar{
        margin-top: 10px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }
    footer{
        margin-top: 90px;
    height: 20%;
    width: 100%;
        display: flex;
        justify-content: center;
        span{
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
        }
    }
    .no{
    color:#AF9798;
    }